pip install web.py


class hello:
    def GET(self, name=None):
        if not name:
            name = 'World'
        return 'Hola, ' + name + '!'

class pagina1:
    def GET(self):
        return "PAGINA 1"

class pagina2:  
    def GET(self):
        return "Hola, estás en la página 2. ¡Sientes mucha emoción!"